@import url('../css/base/icon.css');
.content {
    position: absolute;
    width: calc(100% - 238px);
    top: 57px;
    left: 234px;
    /* border-left: 1px solid #ccc; */
}

.content .content-top .top-left {
    height: 150px;
    /* width: 50%; */
    float: left;
}

.content .content-top .top-left .topleft-text {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: white;
    margin-bottom: 30px;
}

.content .content-top .top-left .topleft-textbox {
    height: 40px;
    margin-left: 10px;
    float: left;
}


/* topleft-textbox*/

.text-box-default {
    display: flex;
    height: 40px;
    width: 300px;
    border: 1px solid #bbbbbb;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.text-box-default:focus {
    border-color: #019160;
}

.topleft-textbox {
    display: flex;
    align-items: center;
}

.textbox-with-icon {
    display: flex;
    position: absolute;
    flex-shrink: 0;
}

.topleft-textbox .textbox-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    display: block;
    margin-left: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    /*  cố định độ rộng */
    z-index: 1;
}

.topleft-textbox input {
    z-index: 0;
    padding-left: 40px;
}


/*Combobox Tất cả phòng ban*/

.topleft-combobox {
    display: flex;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    z-index: 1;
    margin-left: 332px;
    /* float: left; */
}

select:focus {
    border-color: #019160;
}

.topleft-combobox .comboboxtext {
    height: 39px;
    width: 150px;
    align-items: center;
    display: flex;
    white-space: nowrap;
    margin-left: 16px;
    font-size: 18px;
}

.topleft-combobox button.btn-combobox {
    position: absolute;
    color: #252525;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 0 4px 4px 0;
    border-width: 0 0 0 1px;
    border-color: #BBBBBB;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-left: 159px;
    z-index: 0;
}

.topleft-combobox button.btn-combobox:hover {
    background-color: #E9EBEE;
}

.topleft-comboboxx button.btn-combobox:active {
    border-style: solid;
}


/* combobox-tất cả vị trí*/

.combobox-postion {
    display: flex;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    z-index: 1;
    margin-left: 548px;
    height: 40px;
}

.combobox-postion .comboboxtext-position {
    height: 39px;
    width: 150px;
    align-items: center;
    display: flex;
    white-space: nowrap;
    margin-left: 16px;
    font-size: 18px;
}

.combobox-postion button.btn-combobox-position {
    position: absolute;
    color: #252525;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 0 4px 4px 0;
    border-width: 0 0 0 1px;
    border-color: #BBBBBB;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-left: 159px;
    z-index: 0;
}

.content .content-top .top-right {
    display: flex;
    height: 150px;
    /* width: 50%; */
}

.content .content-top .top-right .btn-right {
    right: 0;
    position: absolute;
    margin-top: 10px;
    margin-right: 16px;
}

.button {
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    background-color: #019160;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #2FBE8E;
}

button.button {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
}

.button .btn-icon {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    display: block;
    margin-right: 8px;
    flex-shrink: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.button .btn-text {
    white-space: nowrap;
}

.button:active {
    background-color: #01B075;
}

.button .btn-icon-employee {
    background-image: url('../../content/icon/add.png');
}

.btn-load {
    right: 0;
    position: absolute;
    margin-top: 61px;
}

.btn-load .load {
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin-right: 16px;
}


/* table*/

table.table {
    border-collapse: collapse;
}

table.table thead tr {
    height: 50px;
}

table.table tbody tr {
    height: 40px;
    border-bottom: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    cursor: pointer;
}

table.table tbody tr:hover {
    background-color: #E9EBEE;
}

table.table thead tr th {
    padding: 0, 10px;
    white-space: nowrap;
    text-align: left;
}

table.table tbody tr td {
    padding: 0px, 10px;
    white-space: nowrap;
    /* text-align: left; */
}

table.table tbody tr td:first-child {
    padding-left: 16px;
    padding-right: 10px;
}

table.table tbody tr.click {
    background-color: #E3F3EE;
}

.content-bottom .scoller {
    width: 100%;
    height: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 2px solid #ccc;
    border-radius: 4px;
}